{% extends 'base.html' %}

{% block title %}Index{% endblock %}

{% block content %}

    Hi, we are deliveryHunt.

    <div style="margin-bottom: 5px;">
        {% if user %}
            <p>You are logged-in as {{ user }}</p>
            <ul>
                <li>Is super user: {{ user.is_superuser }}</li>
                <li>Is client: {{ user.is_client }}</li>
                <li>Is courier: {{ user.is_courier }}</li>
            </ul>
        {% endif %}
    </div>
    <div>
        Administration operations:
        <ul>
            <li><a href="#">Add 1 hour to orders</a></li>
            <li><a href="#">Count left orders comments</a></li>
            <li><a href="#">Couriers without orders</a></li>
            <li><a href="#">Count electric cars</a></li>
            <li><a href="#">Get rate relation</a></li>
            <li><a href="#">Delete unused comments</a></li>
            <li><a href="#">Latest orders</a></li>
        </ul>
    </div>
{% endblock %}
