{% extends "base.html" %}

{% block title %}
    Login
{% endblock %}

{% block content %}
    {% if errors %}
        <div class="form-errors">
            {% for error in errors %}
                <div class="form-error" style="margin-bottom: 10px;">
                    {{ error }}
                </div>
            {% endfor %}
        </div>
    {% endif %}
    <form method="POST" action="{{ url_for('order_create') }}">
        <div>
            <label for="phone">Weight:</label>
            <input type="number" name="weight" placeholder="10.4" />
        </div>
        <div>
            <label for="password">Max delivery time:</label>
            <input type="time" name="max_delivery_time" placeholder="3 hours" />
        </div>

        <input type="submit" value="Create" />
    </form>
{% endblock }